@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap");
@import url("tldraw/tldraw.css");

.basePanel{
    border: 2px solid #EEEEEC;
    background-color: #FCFDFC;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
    min-height: 200px;
    min-width: 200px;
    z-index: 10000000000;
    position: fixed;
    bottom: 0;
    left: 0;
    cursor: grab;
    color: black;

  }